/* Mobile Styles
@media (max-width: 600px) {
  header {
    font-size: 12px;
    padding: 0 2%;
  }

  .nomeRag {
    margin-top: 2rem;
    padding: 0 2%;
  }

  .txt {
    font-size: 14px;
  }

  .botao {
    flex-direction: column;
    text-align: center;
    margin-top: 1rem;
    padding: 0 2%;
  }

  .botao button {
    margin: 0.5rem 0;
  }

  .idade,
  .repeat {
    position: static;
    display: none;
  }
}

/* Tablet Styles */
/* @media (min-width: 601px) and (max-width: 1024px) {
  header {
    font-size: 14px;
    padding: 0 3%;
  }

  .nomeRag {
    margin-top: 3rem;
    padding: 0 3%;
  }

  .txt {
    font-size: 16px;
  }

  .botao {
    margin-top: 2rem;
    padding: 0 3%;
  }

  .botao button {
    margin: 1rem 0;
  }

  .idade,
  .repeat {
    position: fixed;
    top: 40rem;
    display: flex;
  }
} */ 
